/* global styles */

body {
	overflow:hidden;
	vertical-align:top;
	margin: 0;
	border: 0;
	padding: 0;
	font-family: Spectral, sans-serif;
	background:#333;
	color:#eee;
}

.altBodyBG {
	background: #444;
}

a {
	color: #cba135;
	text-decoration: none;
}

a:hover {
	color: #fefbd8;
}

h1,h2,h3,p {
	text-align:center;
}

h1, h2 {
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 2.5em;

}

img {
    max-width: 100%;
    height: auto;
}

div {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}

button {
	border:none;
	margin:none;
	background:none;
	outline:none;
	font-family: Spectral, sans-serif;
}

/* menu screen styles */

#menuContainer {
	text-align:center;
	padding-top:5vw;
	margin: 0 auto;
}

div.hidden {	
	display:none;
}

button.selected {
	background:#cba135;
}

button.playerCountBtn {
	font-size: 1.25em;
}

#playNowBtn, #customBtn {
	font-size: 1.5em;
	color: #fefbd8;
}

/* choice screen styles */

#choiceContainer {
	text-align:center;
}

#choiceIconPicker {
	float:left;
	width: 40vw;
	height: 40vw;
	margin: 3vw;
}
#choiceColorPicker {
	float:right;
	width: 40vw;
	height: 40vw;
	margin: 3vw;
}

#playerDone {
	border:none;
	margin:20px;
	background:none;
	outline:2px solid black;
	font-family: Spectral, sans-serif;
	font-size: 1.5em;
	text-transform:uppercase;
}

label {
	display:block;
	text-align:center;
	color: #fefbd8;
	margin-left: 12.5vw;
	width:75vw;
}

input {
	left:50vw;
	border:none;
	border-top:1px solid #cba135;
	border-bottom:1px solid #cba135;
	margin: 5px 0;
	padding:none;
	background:none;
	outline:none;
	font-family: Spectral, sans-serif;
	font-size: 1.75em;
	text-align:center;
	color: #fff;
	width:100%;
}

/* play screen styles */

#playContainer {
	vertical-align:top;
	margin: 0;
	padding: 0;
	border: 0;
	width: 100vw;
	height: 100vh;
}

.playerBox {
	vertical-align:top;
	margin: none;
	padding: none;
	border: none;
}

.playerBox2p {
	display:block;
	width:100vw;
	height:50vh;
}

.playerBox3p {
	display:inline-block;
	width:31vw;
	height:100vh;
}

#playContainer.player3Container {
	margin-left: 3.2vw;
	width:96.8vw;
}

.playerBox4p {
	display:table-cell;
	width:50vw;
	height:50vh;
}

.pLife {
	text-align: center;
	text-shadow: 0 0 10px #fff;
	color: #333;
	margin:0;
	padding:0;
	padding-top:15vh;
	line-height:60%;
}

.pLife2P {
	font-size: 35vh;
}

.pLife3P {
	font-size: 25vw;
}

.pLife4P {
	font-size: 25vh;
}

.pName {
	color: #333;
	text-shadow: 0 0 5px #fff;	
	line-height: 110%;
	margin-bottom:0;
}

.zeroLife {
	text-align:center;
}


.flipdiv {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.resBtn, .endGameBtn {
	font-style: italic;
	font-size: 1.3em;
	color: #eee;
}